.countries-title {
    color: red;
    text-align: center;
    font-size: 3rem;
}

.lengthShow {
    color: blue;
    text-align: center;
    font-size: 1.5rem;
}

.countries-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 20px;
}

.child-container {
    border: 2px solid rgb(34, 155, 220);
    padding: 10px;
    border-radius: 10px;
}

.child-container:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bold {
    color: black;
}
.visited {
    background-color: rgb(180, 255, 180);
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.not-visited {
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button {
    border: 1px solid red;
    padding: 10px 20px;
    background-color: transparent;
}
.visited-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
}